*{
    margin: 0px;
    padding: 0%;
    font-family: 'RocknRoll One', sans-serif;
}

body{
    background-color: #2a2a2a;
    color: #2a2a2a;
    color: #8a8a8a;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    cursor: none;
    
}

#text{
    width: 600px;
    height: 200px;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 131;
    mix-blend-mode: difference;
}

.head{
    font-size: 40px;
    width: 100%;
}

.body{
    width: 100%;
}

#cursor{
    background-color: #39e600;
    position:absolute;
    height: 12px;
    width: 12px;
    z-index: 300;
    margin-top: -6px;
    margin-left: -6px;
    border-radius: 50%;
    pointer-events: none;
}

#cursorback{
    position:absolute;
    height: 16px;
    width: 16px;
    z-index: 300;
    margin-top: -11px;
    margin-left: -11px;
    border-radius: 50%;
    border: 3px solid black;
    text-align: center;
    font-size: 3px;
    transform: scale(1);
    pointer-events: none;
}

#textinside{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    pointer-events: none;
}

#cursorchild{
    background-color:  #39e600;
    position:absolute;
    height: 8px;
    width: 8px;
    z-index: 280;
    margin-top: -6px;
    margin-left: -6px;
    border-radius: 50%;
    border: 2px solid black;
    transition: .3s;
    pointer-events: none;
}

@keyframes blink {
    0%,10%,30%,40%, 50% {opacity: 1}
    60%,70%,70%,80%,90%,100%   {opacity: 0.2}
}

#loading{
    z-index: 230;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 1s;
}

.disk{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 250;
    border-radius: 50%;
}

#main{
    background-color:#2f2f2f;
    color: #2a2a2a;
    color: #b4b4b4;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 1s;
    transform: scale(0.5);
    opacity: 0;
    z-index: 120;
}

@keyframes disk {
    from{transform: rotate(0deg);}
    to  {transform: rotate(360deg);}
}

#contact{
    position: absolute;
    left: 5%;
    bottom: 5%;
    height: 5%;
    display: flex;
    flex-direction: row;
}

#contact > a {
    margin-right: 20px;
    z-index: 134;
}

#about{
    transition: 1s;
    opacity: 0;
    transform: scale(0.5);
    z-index: 80;
    background-color: #1a1a1a;
}

#work{
    background-color: aqua;
    transition: 1s;
    opacity: 0;
    transform: scale(0.5);
    z-index: 50;
}

.small{
    position:absolute;
    background-color: whitesmoke;
    height: 1px;
    width: 1px;
    border-radius: 50%;
}

.med{
    position: absolute;
    background-color: #c5c5c5;
    height: 3px;
    width: 3px;
    border-radius: 30%;
}

.larg{
    position: absolute;
    background-color: #bbbbbb;
    height: 5px;
    width: 5px;
    border-radius: 70%;
}

@keyframes planet1{
    from { margin-top: -20%; margin-left: 120%; transform: scale(0.5) rotate(0deg)}
    to  { margin-top: 75%; margin-left: -50%; transform: scale(4) rotate(120deg)}
}

@keyframes planet2{
    from { margin: -10%; transform: rotate(-20deg)}
    to   { margin: -50%; transform: rotate(20deg)}
}

@keyframes layer{
    from {left: -100%}
    to { left: 100%}
}

#galaxy{
    top: 50%;
    position: absolute;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 0px 400px 70px  white, 0px 0px 130px 40px #80aaff;
    filter: blur(10px);
}

@keyframes rott {
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
}
#shish{
    width: 100%;
    height: 100%;
    position:absolute;
}

#wholegalaxy{
    width: 600px;
    height: 600px;
    position: absolute;
    transform: skewX(-20deg);
    top: 50%;
    left: 100%;
    margin-top: -300px;
    margin-left: -600px;
}

.backdisk{
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    margin-left: -300px;
    margin-top: -300px;
}

.medstar{
    position: absolute;
    background-color: #c5c5c5;
    height: 3px;
    width: 3px;
    border-radius: 30%;
    filter: blur(5px);
}

.blackeffect{
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 250px;
    width: 250px;
    filter: blur(10px);
}